/* These pages have been designed with the help from:
    Jonathan McGlone (https://github.com/jmcglone and http://jmcglone.com/guides/github-pages/)
    Carter Allen (https://github.com/CarterA and http://cartera.me/)
*/

/*
* regroup
*/
article, aside, figure, footer, header, hgroup, nav, section {
    display:block; 
}

   /*
* main
*/
body {
    margin: 25px auto;
    width: 65%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.6em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 0;
}
h2 {
    font-size: 1.4em;
    margin: 0;
}
p {
    font-size: 1.2em;
    line-height: 1.3em;
    color: rgb(29, 27, 27);
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}
ul.posts li {
    list-style: none;
}

figure {
    float: center;
    width: auto;
    text-align: center;
    font-style: italic;
    font-size: 1.1em;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
}

#intro {
    margin-bottom: 45px;
}

/* To keep long links (text) from making horizontal scroll appear. */
.notes p {
    overflow: hidden;
    text-overflow: ellipsis;
  }

/* Added media queries to make the page responsive to screen size. */
@media screen and (max-width: 1440px) {

}
  
@media screen and (max-width: 960px) {
    article {
        width: 95%;
        font-size: 16px;
    }
    ul.posts {
        font-size: 16px;
    }
    .engage p {
        width: 95%;
        font-size: 16px;
    }
    .notes {
        width: 95%;
        font-size: 16px;
    }
    .notes img {
        width: 95%;
    }
    code {
        font-size: 12px;
    }
}
  
@media screen and (max-width: 640px) {
    article {
        width: 95%;
        font-size: 14px;
    }
    ul.posts {
        font-size: 14px;
    }
    .engage p {
        width: 95%;
        font-size: 14px;
    }
    .notes {
        width: 95%;
        font-size: 14px;
    }
    .notes img {
        width: 95%;
    }
    code {
        font-size: 12px;
    }
}
  
@media screen and (max-width: 340px) {
    article {
        width: 99%;
        font-size: 12px;
    }
    ul.posts {
        font-size: 12px;
    }
    .engage p {
        width: 99%;
        font-size: 12px;
    }
    .notes {
        width: 99%;
        font-size: 12px;
    }
    .notes img {
        width: 97%;
    }
    code {
        font-size: 10px;
    }
}