{{ define "main" }}
<div class="about">
    <div class="aboutHead">
        <div class="aboutHeadTexts">
            <h1 class="aboutHeadTitle">{{ .Title }}</h1>
            <div class="aboutHeadDetail">
                <img src="{{ .Params.avatar }}" class="aboutAvatar" alt="" loading="lazy">
            </div>
        </div>
        <img class="aboutHeadImg" src="/images/MJ_small.jpg" alt="{{ .Title }}" />
    </div>
    <div class="aboutBottom">
        <div class="aboutContent">{{ .Content }}</div>
    </div>
</div>
{{ end }}