<head>
	<title>{{ page.title }} | Marek Jakub</title>
	<meta charset="utf-8">
	<meta name="description" content="Articles written by Computing and IT student Marek Jakub">
	<meta name="author" content="Marek Jakub">
	<meta name="viewport" width="device-width,initial-scale=1.0">
	<!-- favicon
	<link rel="shortcut icon" href="/img/ico/favicon.png">
	-->
	<!-- styles -->
	<link href="/css/main.css" rel="stylesheet">

	<!-- google analytics - i will not share this data with google -->
	{% include analytics.html %}
</head>
