{{ define "main" }}
<div class="single">
    <div class="singleHead">
        <div class="singleHeadTexts">
            <h1 class="singleHeadTitle">{{ .Title }}</h1>
            <p class="singleHeadDescription">{{ .Params.description }}</p>
            <div class="singleHeadDetail">
                <img src="{{ .Params.avatar }}" class="singleAvatar" alt="" loading="lazy">
                <span>{{ range (.GetTerms "authors") }}
                    <a href="{{ .Permalink }}">{{ .Name }}</a>
                    {{ end }}
                </span>
                <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time>
            </div>
            <div class="singleHeadCategories">
                {{ range (.GetTerms "categories") }}
                <a class="singleHeadCategory" href="{{ .Permalink }}">{{ .Name }}</a>
                {{ end }}
            </div>
        </div>
        {{/* <img src="{{ .Params.imageBig }}" class="singleHeadImg" alt="{{ .Title }}" /> */}}
    </div>
    <div class="singleBottom">
        <div class="singleContent">{{ .Content }}</div>
    </div>
    <div class="empty-gap"></div>
    {{ partial "utterances.html" . }}
</div>
{{ end }}