<!DOCTYPE html>
	<html lang="en">

		{% include head.html %}

		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
							<li><a href="/blog">Blog</a></li>
		        	<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			
			<div class="container">

			{{ content }}

			</div><!-- /.container -->

			<footer>
	    		<ul>
	        		<li><a href="mailto:mj3935538@gmail.com">email</a></li>
	        		<!--<li><a href="https://github.com/marek-jakub">github.com/marek-jakub</a></li>-->
				</ul>
			</footer>
		</body>
	</html>
